@(message: String)
<!DOCTYPE html>

<html>
    <head>
        <title>CMS Admin Page</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
	    <h1>@message</h1>
    	<fieldset>
    	<legend><h2>Select the following links for service:</h2></legend>
	    <ul>
		    <li>
	    <a href = "/manageUser">Manage User Class</a>
    		</li>
    		<li>
	    <a href = "/manageEventType">Manage Event Type</a>
		</li>
    		<li>
	    <a href = "/relationship">Manage Agency-EventType Relationship</a>
    		</li>
    		<li>
	    <a href = "/bug">Report the bug</a>   
    		</li>
    		<li>
	    <a href = "/logout">Log out</a>
		</li>
	    
  	  </ul>
	  </fieldset>
	  
    </body>
</html>
