@(types: List[models.EventType])
<h1>Manage Event Types in CMS</h1>

<form style="text-align:center" action="addEventType" method="post">
	<fieldset>
	<legend><h2>Add a new event type:</h2></legend>
<p>Name: </p>
<input type="textfield" name="name"/>
<p>Descriptions: </p>
<textarea rows="4" cols="50" name="description">Enter detailed  Description here...
  </textarea>
</br></br>
<input type="submit" value="Create"/>
</fieldset>

</form>

</br></br>
<form action="deleteEventType" style="text-align:center" method="post">
	<fieldset>
	<legend><h2>Delete an existing event type:</h2></legend>
<select name="type">
  @for(t <- types){
	  <option value="@t.getId()">@t.getEventType()</option>  
  }
</select>
</br></br>
<input type="submit" value="Delete"/>
</fieldset>
</form>