@(types: List[String])
<h1>Manage users </h1>
<form action="addUser" method="post" style="text-align:center">
	<fieldset>
	<legend><h2>Add a new user:</h2></legend>
	<p>Type: </p>
<select name="type">
  @for(t <- types){
	  <option value="@t">@t</option>  
  }
</select>
</br>
<p>Name: </p>
<input type="textfield" name="name"/>
<p>Phone: </p>
<input type="textfield" name="phone"/>
</br>
</br>

<input type="submit" value="Add"/>
</fieldset>

</form>

</br></br>
<form action="deleteUser" method="post" style="text-align:center">
	<fieldset>
	<legend><h2>Delete an existing user:</h2></legend>
<p>Type: </p>
<select name="type">
  @for(t <- types){
	  <option value="@t">@t</option>  
  }
</select>
</br>
<p>UserID: </p>
<input type="textfield" name="userID"/>
<p>Password: </p>
<input type="password" name="password"/>
</br>
</br>

<input type="submit" value="Delete"/>
</fieldset>

</form>